[submodule ".registry"]
	path = .registry
	url = https://github.com/nhejazi/nhejazi.r-universe.dev
	branch = HEAD
[submodule "biotmle"]
	path = biotmle
	url = https://github.com/nhejazi/biotmle
[submodule "haldensify"]
	path = haldensify
	url = https://github.com/nhejazi/haldensify
[submodule "medoutcon"]
	path = medoutcon
	url = https://github.com/nhejazi/medoutcon
[submodule "medshift"]
	path = medshift
	url = https://github.com/nhejazi/medshift
[submodule "nima"]
	path = nima
	url = https://github.com/nhejazi/nima
[submodule "txshift"]
	path = txshift
	url = https://github.com/nhejazi/txshift
